
.myTableText { 
  width: 100%;
  border-collapse: collapse;
  background-color: #000000; 
  }
.myTableText td, 
.myTableText th { 
 solid #000000;
  }
.myTableText th { 
  background-color: #000000; 
  color:#000000; 
  }
.myTableText td { 
  color: #000000; 
  }
.myTableText td a:link { 
  color: #ffffff;
  text-decoration: none; 
  }
.myTableText td a:visited { 
  color: #000000; 
  }
.myTableText td a:hover { 
  color: #ffffff;
  }
.myTableText td a:active { 
  color: #ffffff; 
  }
a:link{font-size : 20pt; font-family:arial; color:white; }
a:visited{ font-size : 20pt; font-family:arial; color:white;}
a:active{ font-size : 20pt; font-family:arial; color:white; }
a:hover { border-width : thin; border-color: #ffffff; background-color:#000000; font-size : 20pt; font-family:arial;


{
    background-image: url("http://vertassets.blob.core.windows.net/image/acac085d/acac085d-f27f-4e5c-a6ea-2802969a0ee3/fcc.jpg");height:100%;width:100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 10px;
    background-attachment: fixed;
}


